/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*/



.App {
  
  text-align: center;
  
  align-items: center;
  max-width: 1000px;
}

.mainImg {
  width:85%;
}

.itemImage {
  height: 85%;
  width: 85%;
  box-shadow: 7px 7px;
  border: 5px;
  display:flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.itemDisplay {
  display: flex; 
  width: 90%;
  height: auto;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  margin: auto;

}

.itemDisplay1 {
  display: flex;
  width: 48%;
  text-align: center;
  margin-top:  5%;
  justify-content: center;
  align-content: center;
}

.itemDisplay2 {
  text-align: left;
  display: flex;
 
  justify-items: left;
  align-items: left;
  flex-direction: column;
  
  width: 48%;
  margin-top: 16px;
  border: 1px solid #865331;
  
  padding: 8px;
  margin: 5px;
}

.itemDisplay3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: center;
  
  width: 30%;
  margin-top: 16px;
  border: 1px solid black;
  
  padding: 8px;
  margin: auto;
}

.itemDisplay4 {
  display: flex; 
  width: 96%;
  height: auto;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 18px;
}

.super {
  width:95%;
  
}

.reviewItem {
  width: 75%;
  box-shadow: 4px 4px;
  border: 1px solid #865331;
  padding: 5px;
  margin: 8px;
}

.content-container {
  display: flex; 
  width: 90%;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  margin: auto;
}

.cards-container {
  text-align: center;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  align-content: center;
  
  width: 30%;
  margin-top: 16px;
  border: 2px solid gray;
  
  padding: 8px;
  margin: 5px;

}

.books {
  display: flex;
  
  justify-content: space-between;
 
  
}

.bookbox {
  text-align: center;
  padding: 10px;
  width: 31%;
  height: 180px;
  border: 2px solid red;
  margin: 8px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  border-bottom: 1px solid #2257ca;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}



.nav-links a.active {
  border-bottom: 1px solid #1c5d76;
}

.base-header {
  color: #1c5d76;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


